.stwHTabs {
	display: flex;
	flex-direction: column;
}

.stwVTabs {
	display: flex;
	height: 100%;
	margin: 0;
}

.stwHTabs>div {
	display: flex;
}

.stwVTabs>div {
	display: flex;
	flex-direction: column;
}

.stwTabs dt[data-ref] {
	display: inline-block;
	padding: var(--padding-reduced) calc(2 * var(--padding));
	cursor: pointer;
	background-color: var(--bg-faint);
	min-width: 8rem;
}

.stwTabs i.fa-xmark {
	float: inline-end;
	line-height: var(--line-height);
}

.stwVTabs dd:first-of-type {
	flex-grow: 1;
}

.stwTabs dd {
	display: flex;
	margin: 0;
}

.stwTabs dd>article {
	padding: var(--padding-reduced);
	border: thin solid var(--border);
}